<div id="productExtraInfo" class="productExtraInfo" style="display:none;">
  <div class="infoItems">
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.8504 7.23645L9.80135 13.2855L7.06643 10.5505L4.97816 12.6387L9.80135 17.4618L17.9386 9.32472L15.8504 7.23645Z" fill="#8A55A2"/>
      <path d="M11.5 0C5.1487 0 0 5.1487 0 11.5C0 17.8514 5.1487 23.0001 11.5 23.0001C17.8514 23.0001 23.0001 17.8514 23.0001 11.5C23.0001 5.1487 17.8513 0 11.5 0ZM11.5 20.0469C6.77614 20.0469 2.95308 16.2243 2.95308 11.5C2.95308 6.77614 6.7757 2.95308 11.5 2.95308C16.2239 2.95308 20.047 6.7757 20.047 11.5C20.0469 16.2239 16.2243 20.0469 11.5 20.0469Z" fill="#8A55A2"/>
    </svg>
    <span>Easy 14 day returns</span>
  </div>
  <div class="infoItems">
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.8504 7.23645L9.80135 13.2855L7.06643 10.5505L4.97816 12.6387L9.80135 17.4618L17.9386 9.32472L15.8504 7.23645Z" fill="#8A55A2"/>
      <path d="M11.5 0C5.1487 0 0 5.1487 0 11.5C0 17.8514 5.1487 23.0001 11.5 23.0001C17.8514 23.0001 23.0001 17.8514 23.0001 11.5C23.0001 5.1487 17.8513 0 11.5 0ZM11.5 20.0469C6.77614 20.0469 2.95308 16.2243 2.95308 11.5C2.95308 6.77614 6.7757 2.95308 11.5 2.95308C16.2239 2.95308 20.047 6.7757 20.047 11.5C20.0469 16.2239 16.2243 20.0469 11.5 20.0469Z" fill="#8A55A2"/>
    </svg>
    <span>NDIS quotes available</span>
  </div>
  <div class="infoItems">
    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.8504 7.23645L9.80135 13.2855L7.06643 10.5505L4.97816 12.6387L9.80135 17.4618L17.9386 9.32472L15.8504 7.23645Z" fill="#8A55A2"/>
      <path d="M11.5 0C5.1487 0 0 5.1487 0 11.5C0 17.8514 5.1487 23.0001 11.5 23.0001C17.8514 23.0001 23.0001 17.8514 23.0001 11.5C23.0001 5.1487 17.8513 0 11.5 0ZM11.5 20.0469C6.77614 20.0469 2.95308 16.2243 2.95308 11.5C2.95308 6.77614 6.7757 2.95308 11.5 2.95308C16.2239 2.95308 20.047 6.7757 20.047 11.5C20.0469 16.2239 16.2243 20.0469 11.5 20.0469Z" fill="#8A55A2"/>
    </svg>
    <span>Registered NDIS provider</span>
  </div>
</div>
 
<style>
  .productExtraInfo {
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .infoItems {
    display:flex;
    align-items:center;
    margin: 15px 25px 0 5px;
  }
  .infoItems:last-child {
    flex: 1 0 100%;
  }
  .infoItems svg {
    margin-right:8px;
  }
  .infoItems span {
    font-size:16px;
    font-weight:600;
  }
  @media only screen and (max-width: 480px) {
    .infoItems {
      flex: 1 0 100%;
      margin-top: 15px;
    }
  }
</style>